@model hva_som_skjer.Models.ClubModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="mySidenav" class="sidenav">
    <img class="card-img-top" src="@Model.Image" alt="Card image cap">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Om Klubben</a>
    <a href="#">Kontakt</a>
    <a asp-action="EditClub" asp-route-id="@Model.Id">Rediger klubb </a>
</div>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Meny</span>
    <div class="card mb-3">
    <img class="card-img-top" src="@Model.BannerImage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

<div id="createNews">
    <form class="form-horizontal" method="post" asp-controller="Club" asp-action="addNews">
        <div class="form-group">
            <div class="col-md-4">
                <input id="Id" name="Id" type="hidden" value="@Html.DisplayFor(model => model.Id)">
                <button id="singlebutton" name="singlebutton" class="btn btn-inverce" >Upload News</button>
            </div>
        </div>   
    </form>
</div>




@foreach (var p in Model.News) 
{
    Html.RenderPartial("_ClubNewsPartial", p);
}    

      



<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>