@model IEnumerable<hva_som_skjer.Models.Event>

@{
    ViewData["Title"] = "Arrangementer";
}

<hr />

@foreach (var item in Model) 
{
    <div class="row">
        <div class="col-md-3"></div>

        <div class="card w-50" style="width: 18rem;">
            <img class="card-img-top" src="/images/EventDefault.PNG" alt="Card image cap">
            <div class="card-body">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">@item.StartDate.ToLongDateString() - @item.StartTime.ToString("HH:mm")</h6>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Location)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                <a asp-action="Details" asp-route-id="@item.Id">Vis</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
            </div>
        </div>
    </div>
    <br>
}

<p>
    <a asp-action="Create">Create New</a>
</p>