@model hva_som_skjer.Models.ClubModel

@{var imagePath = @Model.Image; }

<div class="card w-50">
        <div class="card-body">
            <a class="pull-left" href="#">
                <img align="left" hspace="20" style="height:150px" src="/@Url.Content(@imagePath)"> 
            </a>
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Category</p>
            <i class="card-text">@Model.Description</i>
            <p class="card-text">@Model.Contact</p>
        </div>
    </div>