@model hva_som_skjer.Models.CommentViewModel
</div>
<div class="container footer">
    <div class="card">
        <h5 class="card-header">@Html.DisplayFor(model => model.NewsModel.Title)</h5>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(model => model.NewsModel.Content)</p>
            <br/>
            <p class="card-text">
                <small class="text-muted">@Html.DisplayFor(model => model.NewsModel.Posted)</br>
                    @Html.DisplayFor(model => model.NewsModel.poster)</small>
            </p>
        </div>       
    </div
    <div class="comments">
		<div class="comment-wrap">
				<div class="photo">
						 <img class="avatar" src="@Model.User.ProfilePicture" alt="Card image cap">
				</div>
				<div class="comment-block">
						<form method="post" enctype="ultipart/form-data" asp-controller="Club" asp-action="AddComment">
								<textarea name="Content" id="Content" cols="30" rows="3" placeholder="Add comment..."></textarea>
								<input id="NewsId" name="NewsId" type="hidden" value="@Html.DisplayFor(model => model.NewsModel.Id)">
								<button id="singlebutton" name="singlebutton" class="btn btn-inverce" >Submit</button>
						</form>
				</div>
		</div>


		@foreach(var s in Model.CommentModel)
    	{
			if(s.NewsId == Model.NewsModel.Id)
			{
			<div class="comment-wrap">
				<div class="photo">
						<img class="avatar" src="@Html.DisplayFor(model => s.AuthorPicture)" alt="Card image cap">
				</div>
				<div class="comment-block">
						<p class="comment-text">@Html.DisplayFor(model => s.Content)</p>
						<div class="bottom-comment">
								<div class="comment-date">@Html.DisplayFor(model => s.Posted)</div>
								<ul class="comment-actions">
										<li class="delete">delete</li>
										
								</ul>
						</div>
				</div>
			</div>
			}
			
		}
		
</div>


<br>

